body {
    background-color: cadetblue;
    margin: 150px;

}

h2 {
    font-style: normal;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-style: normal;
    font-family: sans-serif;
    text-align: center;
}

form {
    font-family: sans-serif;
}

input {
    align-content: center;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}

p {
    text-align: center;
}