body {
    background-color: darkseagreen;
    padding: 0;
}

h2 {
    font-style: oblique;
    font-family: fantasy;
}

form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}