{% extends "base.html" %}

<h2>New Habit Details</h2>

{% block content %}
    <h3>{{ habit.body}}</h3>

    <!--button below is non functional currently. will add in js/django to link it to the habitrecord tomorrow.-->
    <button type="button">Did Habit Today?</button>

    <h3>Record of {{habit.body}}</h3>

    <!--need to add chart in here that pulls from django record model and displays it.-->

    <p><a href="{% url 'edit_habit' pk=habit.pk %}">Update a Habit</a></p>
    <p><a href="{% url 'delete_habit' pk=habit.pk %}">Delete a Habit</a></p>
    <p><a href="{% url 'all_habits' %}">View all Habits</a></p>

{% endblock %}