{% extends "base.html" %}

<h2>New Habit Details</h2>

{% block content %}
    <h3>{{ habit.body}}</h3>

    {% if makeButton %}
        <a href="{% url 'log_habit' pk=habit.pk %}">Did Habit Today?</a>
    {% endif %}

    <h3>Record of {{habit.body}}</h3>

    <canvas></canvas>

    <script>
        var habitsJsObjs = JSON.parse("{{ serial_habit|escapejs }}")
        console.log(habitsJsObjs)


    </script>

    <!--above is a list of js objects with fields identical to the fields
    on the models, check in documentation for that-->

    <p><a href="{% url 'edit_habit' pk=habit.pk %}">Update a Habit</a></p>
    <p><a href="{% url 'delete_habit' pk=habit.pk %}">Delete a Habit</a></p>
    <p><a href="{% url 'all_habits' %}">View all Habits</a></p>

{% endblock %}